/* =====================================================
   Variables globales
   ===================================================== */

:root {

    /* Colores Bootstrap personalizados */

    /* Colores de marca */
    --bs-primary: #112355;
    --bs-primary-rgb: 17, 35, 85;
    --bs-secondary: #1EA6B1;
    --bs-secondary-rgb: 30, 166, 177;

    /* Estados del sistema */
    --bs-success: #4CAF50;
    --bs-danger: #FF0000;
    --bs-warning: #FCC21B;

    /* Colores neutros */
    --bs-dark: #000000;
    --bs-light: #FFFFFF;
    --bs-light-rgb: 255, 255, 255;

    /* Colores neutros propios adicionales */
    
    --color-surface: #CDCDCD;
    --color-surface-50: #D9D9D9;


    /* Tipografías */

    --font-title: "Montserrat", sans-serif;
    --font-text: "Roboto", sans-serif;

    /*  Fondos  */
    --bg-auth: var(--bs-light);
    --bg-app: var(--color-surface);
}

.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    
    /* Colores para cuando el mouse pasa por encima (Hover) */
    --bs-btn-hover-bg: #0b1a40; /* Un azul un poco más oscuro que primary */
    --bs-btn-hover-border-color: #0b1a40;
    
}

.btn-secondary {
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    
    /* Colores para cuando el mouse pasa por encima (Hover) */
    --bs-btn-hover-bg: #15848b; /* Un azul un poco más oscuro que primary */
    --bs-btn-hover-border-color: #15848b;
    
}

/* =====================================================
   Configuración global del documento
   ===================================================== */

body {
    font-family: var(--font-text);
    background-color: var(--bg-app);
    color: var(--bs-dark);
}

body.pagina-autenticacion{
    background-color: var(--bg-auth);
}

.bg-surface{
    background-color: var(--color-surface);
}

.bg-surface-50{
    background-color: var(--color-surface-50);
}

/* =====================================================
   Títulos
   ===================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-title);
}


/* =====================================================
   Iconos
   ===================================================== */

.jafr-icon {
    color: var(--bs-primary);
    cursor: pointer;
}

/* =====================================================
   Logo
   ===================================================== */
.logo{
    width: 150px;
    height: auto;
}

