/* =====================================================
   Variables globales
   ===================================================== */

:root {

    /* Colores Bootstrap personalizados */

    /* Colores de marca */
    --bs-primary: #112355;
    --bs-primary-rgb: 17, 35, 85;
    --bs-secondary: #1EA6B1;
    --bs-secondary-rgb: 30, 166, 177;

    /* Estados del sistema */
    --bs-success: #4CAF50;
    --bs-danger: #FF0000;
    --bs-warning: #FCC21B;

    /* Colores neutros */
    --bs-dark: #000000;
    --bs-light: #FFFFFF;
    --bs-light-rgb: 255, 255, 255;

    /* Colores neutros propios adicionales */
    
    --color-surface: #CDCDCD;
    --color-surface-50: #D9D9D9;


    /* Tipografías */

    --font-title: "Montserrat", sans-serif;
    --font-text: "Roboto", sans-serif;

    /*  Fondos  */
    --bg-auth: var(--bs-light);
    --bg-app: var(--color-surface);
}

.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    
    /* Colores para cuando el mouse pasa por encima (Hover) */
    --bs-btn-hover-bg: #0a0b33; /* Un azul un poco más oscuro que primary */
    --bs-btn-hover-border-color: #0a0b33;
    
}

.btn-secondary {
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    
    /* Colores para cuando el mouse pasa por encima (Hover) */
    --bs-btn-hover-bg: #15848b; /* Un azul un poco más oscuro que primary */
    --bs-btn-hover-border-color: #15848b;
    
}

.btn-link{
    text-decoration: none;
}

.modal{
    --bs-modal-width: 540px;
}

/* =====================================================
   Configuración global del documento
   ===================================================== */

body {
    font-family: var(--font-text);
    background-color: var(--bg-app);
    color: var(--bs-dark);
}

body.pagina-autenticacion{
    background-color: var(--bg-auth);
}

.bg-surface{
    background-color: var(--color-surface);
}

.bg-surface-50{
    background-color: var(--color-surface-50);
}

/* =====================================================
   Títulos
   ===================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-title);
}

/* =====================================================
   Links
   ===================================================== */
a {
    text-decoration: none;
}

/* Personalizacion a los estilos de link de boostrap */
a.link-primary:hover,
a.link-secondary:hover,
button.btn-link:hover{
    text-decoration: underline;
    text-underline-offset: 8px;
    transition: all 0.2s ease-in-out;
}


/* =====================================================
   Logo
   ===================================================== */
.logo{
    width: 90px;
    height: auto;
}


/* =====================================================
   Utilidades Responsivas Propias
   ===================================================== */

/* Ancho: 100% en móviles, 75% desde sm en adelante */
.w-sm-75 {
    width: 100% !important;
}

@media(max-width: 380px){
    .ajuste-contenedor-logo-pantallas-muy-pequenas{
        display: none;
    }
}

@media (min-width: 576px) {
    .w-sm-75 {
        width: 75% !important;
    }

    .logo{
        width: 150px;
    }
}

/* Ocultar desbordamiento y scroll solo en pantallas lg o mayores */
@media (min-width: 992px) {
    .overflow-lg-hidden {
        overflow: hidden !important;
    }

    .overflow-lg-scroll{
        overflow-y: auto;
    }
}


/* =====================================================
   Modificando comportamiento de offcanvas-end
   ===================================================== */
/* Como se ha aplicado .container-xxl al body para que en pantallas muy grandes no se expanda el contenido
    se dio la necesidad de correr el navbar que se esta utilizando con offcanvas para que mantenga dentro 
    de la proporcion de la distribucion del body 
*/

@media (min-width: 1320px) {
    .offcanvas.offcanvas-end {
        right: calc((100vw - 1320px) / 2);
    }
}

/* 
==================================================================
   Clases para el buscador y el boton de agregar nuevo item
==================================================================
*/

.w-btn-agregar-nuevo{
    width: auto;
}

@media (min-width: 576px){
    .w-btn-agregar-nuevo{
        width: 340px;
    }
}
