/* =====================================================
   Componentes de Visualización: Tablas y Listas
   ===================================================== */

/* Configuración básica de celdas para asegurar alineación uniforme */
.table th,
.table td {
    text-align: center;
    padding: 1rem 0.4rem;
}

/* Espaciado entre filas para simular el efecto de tarjetas separadas */
.table tr {
    border-color: var(--color-surface);
    border-width: 0.7rem;
}

/* Personalizar el color del hover de una fila de una tabla-hover */
.table-hover tbody tr:hover > * {
    --bs-table-bg-state: rgba(var(--bs-secondary-rgb), 0.12);
}

/* 
==================================================================
   Componente: Grid de Tarjetas (Reemplazo responsive de tabla)
==================================================================
*/

.jafr-grid-cards {
    display: grid;
    /* auto-fit: ajusta las columnas automáticamente
       minmax(280px, 1fr): cada tarjeta mide mínimo 280px, 
       y si sobra espacio, se estira para llenar la fila */
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem; /* Espaciado entre tarjetas */
    width: 100%;
    padding-bottom: 1rem;
}

.jafr-card{
    min-width: 270px;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
    border: solid 2px white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
    position: relative;
}

.jafr-card > p{
    margin-bottom: 0.25rem;
}

.jafr-card-btn-edit{
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
}


/* Clases para personalizar la card si se necesita ingresar una lista descriptiva de datos */
.jafr-card-item{
    display: grid;
    grid-template-columns: auto 100px;
    gap: .1rem 1rem;
    margin-bottom: 1rem;
}

.jafr-card-item p{
    margin-bottom: 0rem;
    font-weight: 600;
}

.jafr-card-item p:nth-child(odd){
    color: var(--bs-secondary);
}


/* 
==================================================================
   Clases de Estado (Reutilizables)
==================================================================
*/

/* Estilo específico para filas o cards de registros inactivos (lógica de estado) */
.table tr.item-desactivado > td,
.table tr.item-desactivado > th,
.jafr-card.item-desactivado{
    background-color: var(--color-surface-50);
    /* En lugar de opacidad general, atenuamos solo el texto.
       Este gris es similar al text-muted de Bootstrap */
    color: rgba(0, 0, 0, 0.65) ;
}


/* 
==================================================================
   Clases para el buscador y el boton de agregar nuevo item
==================================================================
*/

.w-btn-agregar-nuevo{
    width: auto;
}

@media (min-width: 576px){
    .w-btn-agregar-nuevo{
        width: 340px;
    }
}

